<html ng-app="friendsList">
<head>
<script src='http://code.jquery.com/jquery-1.10.2.js' type='text/javascript'></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


<script src='http://code.angularjs.org/1.1.5/angular.js' type='text/javascript'></script>
<script src='app.js' type='text/javascript'></script>
<script src='FriendController.js' type='text/javascript'></script>

<link rel="stylesheet" type="text/css" href="style.css">
<title>Facebook Lesson 18</title>
</head>




<body ng-controller="mainCtrl">


<h1>The <strong>facebook</strong> Friend Machine</h1>

<div class="friends">


<form class="form-inline searchForm" role="form">
  <div class="form-group">

  <input class="form-control" placeholder="Search Anything About Your Friends" ng-model="searcher">
  <!-- The stuff below is For step 5....get rid of the one above if you wish-->
   
    <input class="form-control" placeholder="Search Your Friends' Name" ng-model="searcher.name" >
    <input class="form-control" placeholder="Search Your Friends' Location" ng-model="searcher.current_location" > 

    <select class="input-medium" ng-model="order">
        <option value="name">Name</option>
        <option value="friend_count"># friends</option>
        <option value="current_location.city">City</option>
        <option value="current_location.state">State</option>
        <option value="current_location.country">Country</option>
    </select>
    <select class="input-medium" ng-model="aZ">
        <option value="false">Descending</option>
        <option value="true">Ascending</option>
    </select>
  </div>
</form>

  <ul>
    <li class='friend' ng-repeat="key in friends | filter: searcher | orderBy: order : aZ">
       <img class="profile-pic" src='{{key.pic_square}}'>
      <h3>{{key.name}}</h3>
      <div class="location">
        Location: {{key.current_location.city}}, {{key.current_location.state}}, {{key.current_location.country}}, {{key.current_location.zip}}, {{key.current_location.latitude}}, {{key.current_location.longitude}}, {{key.current_location.id}}, {{key.current_location.name}}
      </div>      
      <div class="status">
        Status: {{key.status.message}} <span class="hashtag"></span>
      </div>      
      <div class="num-friends">
        Friends: {{key.friend_count}}
      </div>
    </li>
  </ul>
</div>



</body>
</html>